version: '3.9'
services:
  uni-drop-dev:
    build:
      context: ./src/uni-drop
      dockerfile: Dockerfile_dev
    ports:
      - 5173:5173
    container_name: uni-drop-dev
    volumes:
        - './src/uni-drop:/workspace/uni-drop'
        - './dev-data/uni-drop/vsc_extensions:/root/.vscode-server/extensions'
    stdin_open: true
    tty: true
    entrypoint: ./build-run.sh
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:5173"]
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 5m
  uni-drop-test:
    build:
      context: ./src/uni-drop
      dockerfile: Dockerfile_test_dev
    container_name: uni-drop-test
    network_mode: host
    volumes:
        - './src/uni-drop:/workspace/uni-drop'
        - './dev-data/uni-drop-test/vsc_extensions:/root/.vscode-server/extensions'
    stdin_open: true
    tty: true
    entrypoint: ./tests/entrypoint.sh
    # wait 1 minutes(TODO: why?), visit http://localhost:9900/vnc.html
    depends_on:
      uni-drop-dev:
        condition: service_healthy
      peerjs-server:
        condition: service_healthy
      peer-discovery-dev:
        condition: service_healthy
  peerjs-server:
    image: peerjs/peerjs-server
    ports:
      - 9000:9000
    container_name: peerjs-server
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:9000"]
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 5m
  peer-discovery-dev:
    build:
      context: ./src/peer-discovery
      dockerfile: Dockerfile_dev
    ports:
      - 8080:8080
    container_name: peer-discovery-dev
    volumes:
        - './src/peer-discovery:/workspace/peer-discovery'
        - './dev-data/peer-discovery/vsc_extensions:/root/.vscode-server/extensions'
    stdin_open: true
    tty: true
    entrypoint: cargo watch -x run
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 5m
    # depends_on:
    #   mongo:
    #     condition: service_healthy
  mongo:
    image: mongo
    # ports:
    #   - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: E8kHTYJca96gEC
    volumes:
      - ./dev-data/db:/data/db
    # healthcheck:
    #   test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet | grep 1
    #   interval: 10s
    #   timeout: 1s
    #   retries: 3
    #   start_period: 5m
  mongo-express:
    image: mongo-express
    # restart: unless-stopped
    ports:
      - 27018:8081
    environment:
      ME_CONFIG_MONGODB_ADMINUSERNAME: root
      ME_CONFIG_MONGODB_ADMINPASSWORD: E8kHTYJca96gEC
      ME_CONFIG_MONGODB_SERVER: mongo

      ME_CONFIG_BASICAUTH_USERNAME: admin
      ME_CONFIG_BASICAUTH_PASSWORD: admin
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:8081"]
      interval: 10s
      timeout: 1s
      retries: 3
      start_period: 5m
    # depends_on:
    #   mongo:
    #     condition: service_healthy